@import "tailwindcss";

body {
  @apply bg-amber-50;
}

input[id^="dt-search-"] {
  background-color: white !important;
  outline: 0;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.25em;
  @apply shadow rounded border border-gray-300;
}

.dt-info{
    @apply mt-2
}

.dt-paging{
    @apply float-end flex items-center justify-end
}

html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1;
}
